html, body, div {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    /*height: 100vh;

    /* Set the width to match that of the viewport. */
    /*width: 100vw;*/

    /* Remove any browser-default margins. */
}

html {
  background: grey;
}

body {
  background: lightgrey;
}

#title {
  height: auto;
  background: lime;
}

.row {
  height: auto;
  background: yellow;
}

#questionTrackOutput {
  height: auto;
  background: lightblue;
}

.question {
  display: none;
}

#question1 {
  display: block;
}

.yourTracks {
  display: none;
  height: auto;
  width: 60%;
  background: green;
}

#rubyTrack{
  display:none;
}
#phpTrack{
  display:none;
}
#androidTrack {
  display:none;
}
#designTrack{
  display:none;
}
#dotNetTrack{
  display:none;
}


img {
  max-width:100%;
  max-height:100%;
  float: left;
}
